{% extends 'shop/main.html' %} {% load static %} {% block title %}
<title>Store Page</title>

{% endblock title %} {% block content %}
<div class="container my-5">
  <div class="row">
    {% for product in products %}

    <!-- First Card -->
    <div class="col-lg-4 my-2">
      <div class="card shadow">
        <img
        
        {% if product.imageURL %}
          src="{{product.imageURL}}"   
          {% else %}
          src="{% static 'images/hero_1.jpg' %}"
        {% endif %}

          class="card-img-top"
          alt="..."
        />

        <div class="card-body">
          <h6><strong>{{product.name}}</strong></h6>
          <h2>${{product.price}}</h2>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="row">
            <div class="col-6">
                <center>
                    <button class="btn btn-primary btn-sm">View Product</button>
            </div>

                </center>
              
            <div class="col-6">
              <center>
                  <button data-product = {{product.id}} data-action = 'add' class="btn btn-outline-primary btn-sm update-cart">
                Add to Cart
              </button>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
